[Unit]
Description=thin-edge.io community inventory script runner
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/tedge-inventory/runner.sh

[Install]
WantedBy=multi-user.target
